<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Thermostat</title>

    <script src="js/jquery.js"></script>
    <script src="src/thermostat.js"></script>
    <script src="src/memory.js"></script>
    <script src="src/thermostatJQuery.js"></script>
    <script src="js/jquery.svg.js"></script>
    <link rel="stylesheet" href="css/jquery.svg.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Krona+One|Lobster|Quicksand|Nunito|Dosis">


  </head>

  <body>
    <div id="main">
      <div id="screen">
        <p id="current_temp" name="screen_temp">Current Temp: <span id="temp_num"></span>&#176;C</p>
        <p id="PSM_text" name="screen_txt" >Power Save:
          <span id="PSM_indicator">
            <svg id="PSM_dot"></svg>
          </span>
        </p>
        <p id="EU_text" name="screen_txt" >Energy Usage: <span id="EU_indicator"></span></p>
        <p id="message" name="screen_txt" ></p>
        <p id="weather" name="screen_txt" ></p>
      </div>

      <div id="buttons">
        <button id="up">Up</button>
        <button id="down">Down</button>
        <button id="reset">Reset</button>
        <button id="PSM">PSM</button>
      </div>
    </div>
  </body>
</html>
