<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Thermostat</title>

    <script src="jquery.js"></script>
    <script src="../src/thermostatJQuery.js"></script>
    <script src="../src/thermostat.js"></script>
    <link rel="stylesheet" href="../public/styles.css">

  </head>

  <body>
    <h1 id="current_temp"></h1>
    <h2 id="PSM_indicator"></h2>
    <h2 id="EU_indicator"></h2>

    <button id="up">Up</button>
    <button id="down">Down</button>
    <button id="reset">Reset</button>
    <button id="PSM">PSM</button>

    <h2 id="message"></h2>
  </body>
</html>
